@{
    ViewData["Title"] = "Login Redirect Page";
}

<div class="text-center">
    <h1 class="display-4">Redirect is here</h1>
    <p>hopefully auth code goes here</p>
    <p>hopefully refresh token goes here</p>
</div>
