@{
    ViewData["Title"] = "Login Redirect Page";
}

<div class="text-center">
    <h1 class="display-4">Redirect is here</h1>
    <p>Your authorization token, good sir: @ViewData["AccessToken"]</p>
    <p>Your refresh token, good sir: @ViewData["RefreshToken"]</p>
    <p>Your expiration (in seconds), good sir: @ViewData["Expiration"]</p>
</div>
